body {
    font-family: Arial;
    background-color: #f4f4f9;
    margin: 0;
}

header {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px;
}
